# ── Supabase (Public) ───────────────────────────────────────
NEXT_PUBLIC_SUPABASE_URL=https://ztcejxyfcadzxoobqkaa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_KGDgARm90UnkPLh6ZQ7HLQ_U4KmIUgd

# ── Secrets ─────────────────────────────────────────────────
SUPABASE_SERVICE_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0Y2VqeHlmY2Fkenhvb2Jxa2FhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDAwMjI4MCwiZXhwIjoyMTA1NTc4MjgwfQ.RxFTdZ5oHOaIQvNLKfzrknCePHUdzvpxVwvM_tSIjSg
JWT_SECRET=super_secret_jwt_key_32_chars_long_1234
